PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/ReetSutra
JWT_SECRET=your_jwt_secret_here
NODE_ENV=development

# EmailJS Service Keys
EMAILJS_SERVICE_ID=service_2typb8y
EMAILJS_TEMPLATE_ID=template_k7z5b09
EMAILJS_PUBLIC_KEY=x1gSusWWDNmKOTWLi
